<error-alerts></error-alerts>
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Blood Glucose Log</span>
    </div>
    <div class="panel-body">
        <div class="dbcheck-col-2"></div>
        <div class="dbcheck-col-8">
            <form novalidate ng-submit="logBloodGlucose()" name="glucoseLogForm">
                <fieldset ng-disabled="submitClicked">
                <formly-form fields="fields" model="glucoseLogForm.model" form="glucoseLogForm">
                    <div class="dbcheck-col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </formly-form>
                </fieldset>
            </form>

            <div style="margin-top:60px">
                <div class="t-content panel" ng-if="submitClicked">
                    <div ng-if='success' class='alert alert-success fade in'>
                        <button type='button' class='close' data-dismiss='alert'
                        aria-hidden='true'>×</button>
                        <div><strong>{{success.title}}</strong>: {{success.msg}}</div>
                    </div>

                    <h3 class="panel-title"><strong>{{results.status}}:</strong>
                    </h3>
                    <div class="panel-body">
                        <p>{{results.explanation}}</p>
                        <p>
                            <strong>Remedial Action:</strong> {{results.remedial_action}}
                        </p>
                        <p>
                            <strong>Recommendation:</strong> {{results.recommendation}}
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <span><strong>Frequently Asked Questions</strong></span>
                <div class="well" ng-repeat="group in groups">
                    <a data-toggle="collapse" data-target="#toggle-content-{{$index}}">
                        <span>{{group.title}}</span>
                    </a>
                    <div id="toggle-content-{{$index}}" class="collapse">
                        <div>{{group.content}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dbcheck-col-2"></div>
    </div>
</div>
