<error-alerts></error-alerts>
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Fitness Log</span>
    </div>
    <div class="panel-body">
        <div class="dbcheck-col-2"></div>
        <div class="dbcheck-col-8">

            <form novalidate ng-submit="logActivity()" name="fitnessLogForm">
                <fieldset ng-disabled="submitClicked">
                <formly-form fields="fields" model="fitnessLogForm.model" form="fitnessLogForm">
                    <div class="dbcheck-col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </formly-form>
                </fieldset>
            </form>

            <div style="margin-top:60px">
                <div class="t-content panel" ng-if="submitClicked">

                    <div ng-if='success' class='alert alert-success fade in'>
                        <button type='button' class='close' data-dismiss='alert'
                        aria-hidden='true'>×</button>
                        <div><strong>{{success.title}}</strong>: {{success.msg}}</div>
                    </div>


                    <h3 class="panel-title"><strong>Activity Breakdown:</strong>
                    </h3>
                    <div class="panel-body">
                        <p>
                            <strong>Calories Burnt:</strong> {{calories_burnt}}
                        </p>
                        <p>
                            <strong>BodyWeight equivalent:</strong>
                            {{bw_equivalent | number : 3}} kg
                        </p>
                        <p>It is recommended that you take a minimum of 30 minutes on exercise every day</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="dbcheck-col-2"></div>
    </div>
    <div class="panel-body">

        <div>
            <span><strong>Additional Information</strong></span>
            <div class="well" ng-repeat="group in groups">
                <a data-toggle="collapse" data-target="#toggle-content-{{$index}}">
                    <span>{{group.title}}</span>
                </a>
                <div id="toggle-content-{{$index}}" class="collapse">
                    <div>{{group.content}}</div>
                </div>
            </div>
        </div>

    </div>
</div>
