<div>
    <h3>{{recipe.name}}</h3>
    <div>
        <div class="recipe-hold-info" style="margin-bottom:40px">
            <div class="dbcheck-col-8">
                <img ng-src="../assets/img/foodImage.jpg" err-src="../assets/img/foodImage.jpg"
                  id="recipe-image"
                  alt="../assets/img/foodImage.jpg"
                  title="Recipe Image"
                  class="img img-thumbnail img-responsive">
            </div>
            <div class="dbcheck-col-4">
                <h4><strong>Nutrition Details:</strong></h4>
                <strong>per serving<br/></strong>
                <div ng-repeat="nutrient in recipe.nutrients_list">
                    <span>{{nutrient.name}}  </span>
                    <span>{{nutrient.quantity}}  </span>
                    <span>{{nutrient.unit}}</span>
                </div>
            </div>
        </div>

        <div>
            <span><strong>Serving: {{recipe.serving}}</strong></span> |
            <span><strong>Prep_time: {{recipe.prep_time| date:"HH"}}</strong></span>
        </div>

        <div>
            <strong>Ingredients:</strong>
            <ul>
                <li ng-repeat="item in recipe.ingredients_list">
                {{item.amount}} {{item.unit_of_measure}} {{item.name}} {{item.description}}</li>
            </ul>
        </div>

        <div>
            <strong>Instructions:</strong><br/>
            {{recipe.instructions}}
        </div>


    </div>
</div>