<div class="sidebar-left-content">
    <ul class="nav sidebar-menu">
        <li class="sidebar-label pt20">Sub Menu</li>
        <li ui-sref-active="active">
            <a ui-sref="journal">
                <span class="fa fa-calendar-check-o"></span>
                <span class="sidebar-title">Daily Record</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="planner">
                <span class="fa fa-balance-scale"></span>
                <span class="sidebar-title">Planner</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="recipe">
                <span class="fa fa-cutlery"></span>
                <span class="sidebar-title">Recipe</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="community">
                <span class="fa fa-commenting"></span>
                <span class="sidebar-title">FAQs</span>
            </a>
        </li>
    </ul>
</div>