<div id="cssmenu">
    <div id="menu-button" class="null menu-opened" menu-toggle>Menu</div>
    <ul id="main-top-nav" class="show-me">
        <li ui-sref-active="active">
            <a ui-sref="journal">
                <i class="fa fa-calendar-check-o"></i>Daily Record
            </a>
        </li>
        <!-- <li ui-sref-active="active">
            <a ui-sref="planner">
                <i class="fa fa-balance-scale"></i>Planner
            </a>
        </li> -->
        <li ui-sref-active="active">
            <a ui-sref="recipe">
                <i class="fa fa-cutlery"></i>Food Guide
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="community">
                <i class="fa fa-commenting"></i>Awareness/FAQs
            </a>
        </li>
        <!-- <li ui-sref-active="active">
            <a ui-sref="admin">
                <i class="fa fa-user"></i>Admin
            </a>
        </li> -->
    </ul>
</div>
